{{!-- THIS FILE CREATES NEW BUTTONS TO WAKE UP OR DELETE THE CAT --}}
<li>
	{{name}}

	<button class="change-if-eaten" data-id="{{id}}" data-newsleep="{{sleep}}">
	{{!-- <button class="change-sleep" data-id="{{id}}" data-newdevoured="{{devoured}}"> --}} 
		{{#if sleep}}
		EAT IT!!
		{{else}}
		RESTOCK
		{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>
